linkedin-job-search/linkedin-assistant-repo/workflows/collect-jobs.v1.0.json
{
  "name": "Linkedin Job Search",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "id": "9b2a5d0a-3b2f-4413-8281-137aac2eb602",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1024,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "9ce80a2c-09cc-4532-ac18-d26ad563ef62",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -912,
        464
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "0a9ac576-d08d-4d6f-85e6-9dae123ada78",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        -704,
        192
      ],
      "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1499f1ac-a7ae-4983-85c7-aa7b8445b2e2",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $(\"Parse AI Output\").first().json.score }}",
              "rightValue": 50
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "e4c4ef54-c840-4d7d-ad39-1a7a07e5971f",
      "name": "Score Filter",
      "type": "n8n-nodes-base.if",
      "position": [
        1232,
        192
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um Recrutador Sênior de TI especializado em Engenharia de Dados e Automação.\n\nOBJETIVO: Avaliar se a vaga abaixo condiz com o perfil do candidato (Engenharia de Dados, Ciência de Dados, IA, Python, Automação).\n\nREGRAS CRÍTICAS DE FILTRAGEM:\n1. Se o título da vaga envolver Vendas, Atendimento ao Cliente Bancário, Administrativo Geral ou Gestão de Contas (Ex: Agente de Negócios, Gerente, Auxiliar Administrativo), a pontuação (score) DEVE ser 0.\n2. Foque apenas em vagas técnicas: Engenheiro de Dados (Jr/Pl), Analista de Dados, Desenvolvedor Python, Especialista em IA/LLM ou Automação.\n3. Se a vaga for compatível, dê um score de 0 a 100 baseado na compatibilidade técnica de ferramentas (Python, SQL, Cloud, etc).\n4. Escreva uma carta de apresentação curta, profissional e em Português-BR, destacando as experiências do currículo que batem com a vaga.\n\nFORMATO DE SAÍDA (JSON PURO):\n{\n  \"score\": 85,\n  \"coverLetter\": \"Prezado recrutador...\",\n  \"techStack\": \"Python, SQL, AWS\"\n}\n\nJob Description: {{ $json.description }}\nResume: {{ $(\"Extract from File\").first().json.text }}",
        "options": {}
      },
      "id": "c030fd33-37ed-4fae-8bce-7af97e1de638",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        272,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "646ebd7a-c67e-4f18-b1b8-06017cdb8125",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -480,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1F7JWUyHp-3oBoki_xRogS-oaNjd9JxdY",
          "mode": "list",
          "cachedResultName": "DIEGO_SANTOS.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1F7JWUyHp-3oBoki_xRogS-oaNjd9JxdY/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "93f10530-0de2-4c29-b63c-8d707cec2259",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -800,
        -128
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "arCLx0HKkHenUGM4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MCNDC7hyUzSZAcMD_Qi9dO28sbACNN9Nl1lygJxVlCk",
          "mode": "list",
          "cachedResultName": "n8n - Job Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MCNDC7hyUzSZAcMD_Qi9dO28sbACNN9Nl1lygJxVlCk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MCNDC7hyUzSZAcMD_Qi9dO28sbACNN9Nl1lygJxVlCk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Modify Job Attributes').first().json.jobid }}",
            "Title": "={{ $('Modify Job Attributes').first().json.title }}",
            "Link": "={{ $('Modify Job Attributes').first().json.applyLink }}",
            "Company": "={{ $('Modify Job Attributes').first().json.company }}",
            "Location": "={{ $('Modify Job Attributes').first().json.location }}",
            "Fit Score IA": "={{ $('Parse AI Output').first().json.score }}",
            "Date": "={{ $now.toString() }}",
            "Status": "Coletado",
            "Experience Level": "={{ $('Modify Job Attributes').first().json.experience_level }}",
            "Modality": "={{ $('Modify Job Attributes').first().json.remote }}",
            "Tech Stack": "={{ $('Parse AI Output').first().json.techStack }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "03c23ea3-c670-4f23-a6e2-8a4ebe5e1796",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        944,
        192
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ELRcuhDH6NdgziAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7926733286",
        "text": "Title: {{ $('Modify Job Attributes').first().json.title }}\nCompany: {{ $('Modify Job Attributes').first().json.company }}\nLocation: {{ $('Modify Job Attributes').first().json.location }}\nJob Score: {{ $json.score }}\nApply: {{ $('Modify Job Attributes').first().json.applyLink }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "7ba2f158-00b2-4edd-8e16-17eb6b3c0445",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1472,
        496
      ],
      "webhookId": "17b9ebe8-c8d4-4bd9-ad20-45842ddc2c00",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "PQJ2LChUu8DJWeuv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\"\n\n// Defensive input reading\nconst keyword = ($input.first().json.Keyword || \"\").toString();\nconst location = ($input.first().json.Location || \"\").toString();\nconst experienceLevel = ($input.first().json['Experience Level'] || \"\").toString();\nconst remote = ($input.first().json.Remote || \"\").toString();\nconst jobType = ($input.first().json['Job Type'] || \"\").toString();\nconst easyApply = ($input.first().json['Easy Apply'] || \"\").toString();\n\nif (keyword !== \"\") {\n  url += `&keywords=${encodeURIComponent(keyword)}`;\n}\n\nif (location !== \"\") {\n  url += `&location=${encodeURIComponent(location)}`;\n}\n\nif (experienceLevel !== \"\") {\n  const transformedExperiences = experienceLevel\n    .split(\",\")\n    .map((exp) => {\n      switch (exp.trim()) {\n        case \"Internship\": return \"1\";\n        case \"Entry level\": return \"2\";\n        case \"Associate\": return \"3\";\n        case \"Mid-Senior level\": return \"4\";\n        case \"Director\": return \"5\";\n        case \"Executive\": return \"6\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  if (transformedExperiences.length > 0) {\n    url += `&f_E=${transformedExperiences.join(\",\")}`;\n  }\n}\n\nif (remote !== \"\") {\n  const transformedRemote = remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\": return \"2\";\n        case \"Hybrid\": return \"3\";\n        case \"On-Site\": return \"1\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  if (transformedRemote.length > 0) {\n    url += `&f_WT=${transformedRemote.join(\",\")}`;\n  }\n}\n\nif (jobType !== \"\") {\n  const transformedJobType = jobType\n    .split(\",\")\n    .map((type) => {\n       const t = type.trim();\n       if (!t) return \"\";\n       return t.charAt(0).toUpperCase();\n    })\n    .filter(Boolean);\n  if (transformedJobType.length > 0) {\n    url += `&f_JT=${transformedJobType.join(\",\")}`;\n  }\n}\n\nif (easyApply.toLowerCase() === \"true\" || easyApply === \"1\") {\n  url += \"&f_EA=true\";\n}\n\nreturn { url }"
      },
      "id": "acdd5f23-8998-436f-91e1-e4e9e32fc6e6",
      "name": "Create search URL",
      "type": "n8n-nodes-base.code",
      "position": [
        336,
        -128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "e71e0a9a-5d39-42f1-a0c8-f25dbf7d75ea",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1120,
        -128
      ],
      "notesInFlow": false,
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "Worklofw executes daily at 5pm, you can change the interval and time of execution.\n",
        "height": 260
      },
      "id": "575a700b-f121-4119-9488-ca7b37fc8b19",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Read user resume from google drive, you need to upload your resume in pdf format and select in **From List** section.",
        "height": 260,
        "color": 4
      },
      "id": "e01cb62e-d0ed-4aa3-b4d9-6934adfd3989",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert pdf file into text to AI can read content.",
        "height": 260,
        "color": 5
      },
      "id": "36114ae5-45bb-446c-9771-66f4a418d600",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Read search filter consiste of keywords, location, experience level, remot, job type and easy apply from google sheet.\n\nYou can download [this Template](https://docs.google.com/spreadsheets/d/1mtKVxj_z_QCLGXMx0mJVihWSgS41SzHfU1Rv4r_mRY0) and copy in your personal space.",
        "height": 300,
        "width": 400,
        "color": 4
      },
      "id": "312863a4-0232-43fd-a719-38bbe8cb8071",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Create Linkedin search url from filter params.",
        "height": 260,
        "width": 180
      },
      "id": "96136bf5-995d-4322-a4af-eba0666eda5d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "683ae84c-754a-4318-b0ae-f23c8a2e7169",
      "name": "Fetch Jobs from Linkedin",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        544,
        -128
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "Extrat Job links from Linkdin search result",
        "height": 320,
        "width": 220
      },
      "id": "6d1819c6-43f5-47b3-aa6b-f31bcb8fc0bc",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "fetch jobs one by one",
        "height": 300,
        "width": 180,
        "color": 6
      },
      "id": "e2cea7b8-461e-4a64-a332-d6ba44336478",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Wait 10 sec between each job fetch.",
        "height": 260,
        "width": 388,
        "color": 3
      },
      "id": "c76001ab-2e4b-4a51-949b-70f9058c5baa",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "id": "7cb0e8c2-72ef-450f-818c-6b5b2a51f820",
      "name": "Fetch Job Page",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -496,
        192
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 4.2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Parse job HTML page, extract **title**, **company**, **location**, **jobDescription** and **applyLink** from it",
        "height": 300,
        "width": 380,
        "color": 6
      },
      "id": "27fd57a9-f14b-4439-b690-2a6bed696ddc",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "AI model compare your resume and job description and rate your resume from 0-100, (0 does not match, 100 fully match) and also AI will write a sample cover letter based on your resume and your expriences and job description.\nI used Gemini model here, you can use othe AI model like OpenAI (chat GPT)",
        "height": 440,
        "width": 540,
        "color": 7
      },
      "id": "13c384d6-f356-4376-96f0-8a9a483cfa19",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert AI output to JSON.",
        "height": 300,
        "width": 180,
        "color": 6
      },
      "id": "a379b8c9-f454-41a5-8acb-917752a386e9",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Add new job with score in google sheet.\n\nYou can download [this Template](https://docs.google.com/spreadsheets/d/1mtKVxj_z_QCLGXMx0mJVihWSgS41SzHfU1Rv4r_mRY0) and copy in your personal space.",
        "height": 300,
        "width": 260,
        "color": 4
      },
      "id": "94247f07-f877-444f-b833-31693102eaab",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Send telegram message if matching score is greater than criteria defined in previuos step.",
        "height": 300,
        "width": 260,
        "color": 5
      },
      "id": "af1d7a8b-be54-4662-8922-f85bc9d093b0",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Filter job that has score higher than 50. you can change filter criteria in this node.",
        "height": 300,
        "width": 260,
        "color": 4
      },
      "id": "8bf91e56-2a82-4ab6-abec-db23ba4bb00f",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=\n{{ $json.output }}",
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1abc27d3-7590-4454-b40b-c4073b2aeef8",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.set",
      "position": [
        688,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "="
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn"
            },
            {
              "key": "remote",
              "cssSelector": "span.jobs-details__topcard-job-type"
            },
            {
              "key": "experience_level",
              "cssSelector": "span.jobs-details__topcard-job-type"
            },
            {
              "key": "job_type",
              "cssSelector": "span.jobs-details__topcard-job-type"
            }
          ]
        },
        "options": {}
      },
      "id": "fcc067a2-01aa-41f7-9784-c0ee4acad060",
      "name": "Parse Job Attributes",
      "type": "n8n-nodes-base.html",
      "position": [
        -272,
        192
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "784ead57-9d83-4e08-b83c-23fa165bf045",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description.replaceAll(/\\s+/g, \" \") }}"
            },
            {
              "id": "fd3c9d2c-5ff9-46a7-b70a-f990fbc7da9d",
              "name": "jobid",
              "type": "string",
              "value": "={{ $json.jobid.split(\":\").last() }}"
            },
            {
              "id": "27a20cd2-ab0d-42b7-9cee-ea64e0e26ea3",
              "name": "applyLink",
              "type": "string",
              "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json.jobid.split(\":\").last() }} "
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "03fd3265-30bb-4f90-80df-f1cf14c782a3",
      "name": "Modify Job Attributes",
      "type": "n8n-nodes-base.set",
      "position": [
        -80,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "b3e07b55-5704-43b8-8bb4-39ec5f7a265a",
      "name": "Extract Job Links",
      "type": "n8n-nodes-base.html",
      "position": [
        768,
        -128
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        400
      ],
      "id": "0bfa08fe-c121-4fd6-a015-e767ec1391a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BJEkHfBb23zkmd5t",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MCNDC7hyUzSZAcMD_Qi9dO28sbACNN9Nl1lygJxVlCk",
          "mode": "list",
          "cachedResultName": "n8n - Job Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MCNDC7hyUzSZAcMD_Qi9dO28sbACNN9Nl1lygJxVlCk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1038962310,
          "mode": "list",
          "cachedResultName": "Filter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MCNDC7hyUzSZAcMD_Qi9dO28sbACNN9Nl1lygJxVlCk/edit#gid=1038962310"
        },
        "options": {}
      },
      "id": "88d44ef3-88d2-4c26-b42d-30df1ccaf454",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        0,
        -128
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ELRcuhDH6NdgziAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -144,
        336
      ],
      "id": "6e40c259-aa0a-42b7-9d1c-76e9569d417a",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Fetch Job Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Filter": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Page": {
      "main": [
        [
          {
            "node": "Parse Job Attributes",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create search URL": {
      "main": [
        [
          {
            "node": "Fetch Jobs from Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Links": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Attributes": {
      "main": [
        [
          {
            "node": "Modify Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Job Attributes": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from Linkedin": {
      "main": [
        [
          {
            "node": "Extract Job Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Score Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "binaryMode": "separate"
  },
  "versionId": "02a4dc22-4bfc-4783-a8ac-02eb0a353ebb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b80f6b526d3c6554163b4cc7a327e4275870e357051c6afbeae853df0fa45d3"
  },
  "id": "7dVExViAwYl9MskzSqvvN",
  "tags": [
    {
      "updatedAt": "2026-02-02T12:41:22.712Z",
      "createdAt": "2026-02-02T12:41:22.712Z",
      "id": "JnjpXtFHFNBogutW",
      "name": "linkedin"
    }
  ]
}